:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;

  --white: #fff;

  --title: #181818;
  --text: #474747;

  --text-primary: Montserrat Medium;
  --text-bold: Montserrat Bold;
  --text-semi-bold: Montserrat SemiBold;
}

@font-face {
  font-family: Montserrat Medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat SemiBold;
  src: url(../fonts/SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-primary);
}

body {
  font-size: 1rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1340px;
}

.column {
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

header .discount {
  display: flex;
  justify-content: center;
  background-color: var(--title);
}

header .logo {
  display: flex;
  justify-content: center;
}

header .logo h1 {
  padding: 21px 0;
  text-decoration: none;
  color: var(--title);
  font-size: 1.5rem;
}

header .discount a {
  padding: 21px 0;
  text-decoration: none;
  color: var(--white);
}

section.introducao {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/wallpaper.jpeg") no-repeat center fixed;
  background-size: cover;

  color: #fff;
  width: 100%;
  height: 378px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.introducao .container h1 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.introducao .container p {
  font-size: 1rem;
  line-height: 2rem;
  max-width: 460px;
}

article.produtos {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: 60px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.title h1 {
  line-height: 4rem;
  font-size: 2rem;
}

.title p {
  font-size: 1rem;
  line-height: 2rem;
}

.produtos .list-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-produtos .list-produtos-item {
  display: flex;
  width: 325px;
  height: 325px;
  padding: 0 25px;
  background-color: var(--bgCard);
  align-items: center;
  margin: 0px 5px 40px 5px;
}

.list-produtos .list-produtos-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#copyright {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--title);
  color: var(--white);
}
